@font-face {
  font-family: NautilusPompilius;
  src: url("./4471-font.otf") format("opentype");
}

body {
  background-repeat: no-repeat;
}

html {
  height: 100%;
}

/* background image */
.main-background-image {
  background-image: url("background.png");
  background-size: 100% 100%;
  min-height: 100vh;
  min-width: 100vh;
  position: fixed;
  width: 100%;
}

/* background image alpha (opacity) */
.main-background-alpha {
  min-height: 100vh;
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
}

/* bolded nav */
.nav-item>a,
.navbar-light .navbar-nav .active>.nav-link {
  font-weight: bold;
}

/* "•Нели•" font and size */
.text-primary {
  font-family: NautilusPompilius;
  font-size: xx-large;
  letter-spacing: 5px;
}

.page-section {
  padding-top: 10px;
  padding-bottom: 20px;
}

/* calendar shadow */
.navbar,
.card-pricing,
.card-service,
iframe {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0px 0px 7px 3px #6c757db8;
}



/* BLACK THEME */

/* NAV BAR */

/*nav bar background*/
.bg-white {
  background: rgba(0, 0, 0, 1) !important;
}

/*nav bar "къща за гости" text*/
.navbar-brand {
  color: #F8E73F !important;
  font-weight: 750;
}

/*nav bar "•Нели•" text*/
.text-primary {
  color: #F8E73F !important;
}

/*nav bar normal text*/
.navbar-light .navbar-nav .nav-link {
  color: silver;
}

/*nav bar normal hovered text*/
.navbar-light .navbar-nav .nav-link:hover {
  color: rgb(255, 255, 255);
}

/*nav bar normal active text*/
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active {
  color: silver;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #F8E73F;
}

.navbar-toggler {
  background-color: #F8E73F;
}



/* PAGE SECTION */

/* titles */
.title-section {
  color: #F8E73F !important;
}

/* text color */
.text-color {
  color: #F8E73F;
}

/* boxes */
.card-pricing {
  background: rgba(0, 0, 0, 0.7);
  color: white;
}

/* coordinates */
.subhead {
  color: white;
}

/* gallery */
.card-service {
  background: rgba(0, 0, 0, 0.7);
}

/* amount of nights color */
.amount-of-nights {
  color: #F8E73F !important;
}

/* back to top arrow */
.back-to-top {
  background-color: black;
}

.back-to-top::after {
  border-top: 2px solid #F8E73F;
  border-right: 2px solid #F8E73F;
}

.back-to-top:hover {
  background-color: #F8E73F;
}

.back-to-top::after {
  border-top: 2px solid #F8E73F;
  border-right: 2px solid #F8E73F;
}

.back-to-top:hover::after {
  border-top: 2px solid black;
  border-right: 2px solid black;
}